@font-face{
    font-family: 'Arvo';
    src: url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Strike&display=swap') format('treutype');
}

.fonte{
    font-family: 'Arvo';
    font-size: 50px;
    color: #424242;
}

body{
    height: 100vh;
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(99, 90, 228);
    color: rgb(43, 41, 41);
    font-weight: bold;
    border: none;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}